@model List<BugsTracker.Models.Bug>
@{
    ViewBag.Title = "Result";
}
<h1 class="text-center"> Open Bugs </h1>
@foreach (var bug in Model)
{
    <div class="row">
        <h4>
            Bug Number: @bug.Id
        </h4>

        <h4>
            Title: @bug.Title
        </h4>

        <p>
            Description: @bug.Description
        </p>

        <p>
            State: @bug.State
        </p>
        <a href="/Bug/Details/@bug.Id" class="btn btn-success"> View Details </a>
        <hr />
    </div>
}
